.edit {
    background-color: #ccc;
    text-align: right;
}
.content {
    background-color: #f6f6f6;
    padding: 10px 10px 10px 10px;
}
.error {
    background-color: #f6f6ff;
    padding: 10px 10px 10px 10px;
    color: #600;
    font-weight: bold;
}

.s404 {
    
    
}

#footer {
    background-color: #ccdfcc;
    padding: 5px;
    
}

body {
    font-family: "trebuchet ms";
}

h1 {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    background-color: #ccdfcc;
}

h2 {
    font-size: 14px;
    font-weight: bold;
}

li {
    list-style: circle;
}

form label {
    display: block;
}

form input[type="submit"] {
    display: block;
}